<!DOCTYPE html>

<html>

<head>
    <!-- Title of the page-->
    <title><%=title%></title>
    
    <script src="https://kit.fontawesome.com/f383b6eabf.js" crossorigin="anonymous"></script>
    <!-- Css -->

</head>

<body>
    <!-- Header -->

    <!-- Body-->
    <%- body %>

    <!-- Footer -->

    <!-- Javascript -->
    <script type="text/javascript" src="/js/file_viewer.js"></script>

</body>

</html>